{{ define "main" }}
<article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l lh-copy {{ $.Param "text_color" | default "mid-gray" }}">
  <header class="pv4 tl">
  <h1 class="f2 f1-l">{{ .Params.intro.heading }}</h1>
  <p class="f4 mid-gray">{{ .Params.intro.subheading }}</p>
</header>

{{ with .Params.intro.blurb }}
    <section class="mb5 tl">
      {{ range . }}
        <p class="tl">{{ . | markdownify }}</p>
      {{ end }}
    </section>
  {{ end }}

  {{ partial "mini-highlights.html" . }}

  {{ range .Params.sections }}
    <section id="{{ .id }}" class="mb6 tl">
      <header class="mb4 tl">
        <h2 class="f2 mb2 tl">{{ .title }}</h2>
        <p class="f4 dark-gray mt0 mb3 tl">{{ .subtitle }}</p>
        <p class="lh-copy measure-wide mt0 tl">{{ .description }}</p>
      </header>

      <div class="projects-grid">
        {{ range .projects }}
          {{ partial "project-card.html" . }}
        {{ end }}
      </div>
    </section>
  {{ end }}

</main>
{{ end }}