{{ define "main" }}
<main class="page-shell">


  {{ partial "mini-highlights.html" . }}



  {{ range .Params.sections }}
    <section id="{{ .id }}" class="content-section">
      <div class="section-header">
        <h2 class="section-title">{{ .title }}</h2>
        {{ with .subtitle }}
          <p class="section-intro">{{ . }}</p>
        {{ end }}
        {{ with .description }}
          <p>{{ . }}</p>
        {{ end }}
      </div>

      <div class="projects-grid">
        {{ range .projects }}
          {{ partial "project-card.html" . }}
        {{ end }}
      </div>
    </section>
  {{ end }}

</main>
{{ end }}